@model Planes.Models.Plane

@{
    ViewBag.Tytul = "Usuwanie samolotu";
}

<h2>Usuwanie samolotu</h2>

@if(ViewBag.Error = true)
{
    <div class="altert alert-danger" role="alert">
    Wystąpił błąd podczas usuwania.<br/>
    Spróbuj ponownie.
    </div>
}
<h3>Czy na pewno chcesz usunąć przelot</h3>
<div>
    <h4>Samolot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" onclick="returnconfirm('Czy na pewno chcesz usunąć samolot?')"/> 
            @Html.ActionLink("Wróć", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
