@model Planes.Models.Plane

@{
    ViewBag.Tytul = "Szczegóły samlotu";
}

<h2>Szczegóły</h2>

<div>
    <h4>Samolot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated &&( User.IsInRole("Admin") || User.IsInRole("Pracownik")))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Wróć", "Index", null, new { @class = "btn btn-primary" })
</p>
